# retrieve aclImbd (dataset to train sentiment model) from https://ai.stanford.edu/~amaas/data/sentiment/
data/training/aclImdb
data/training/df_2020.csv
models/sentiment/models
discord_bot.py
__pycache__